---
title: "Contact Us"
layout: /layouts/default.pug
heading: "Contact Us"
lead: "Let's have a heated discussion."
---
block content
  table
    tbody
      tr
        th(width="33%") Call Us
        td #{ company.phone }
      tr
        th Email
        td #{ company.email }
      tr
        th Phone
        td #{ company.phone }
      tr
        th Fax
        td #{ company.fax }
      tr
        th Mailing Address
        td #{ company.address }
  form(method="POST" netlify name="contact")
    p: input(name="name")
    p: button(type="submit") Submit
